.eap-settings__date-settings input {
    max-width: 56px;
}
.eap-settings__shortcode {
  color: red;
}
.eap-settings__custom-css textarea {
    padding: .6em;
}
.eap-add-event__custom-field .dashicons {
    vertical-align: middle;
}
