.eap-options__shortcode {
  color: red;
}
.eap-options__about {
  margin-top: 1.6em;
}
.eap-post-event label,
.eap-post-event input {
  vertical-align: middle;
  display: inline-block;
}
.eap-post-event__day::before {
  content: "\f508";
}
.eap-post-event__time::before {
  content: "\f469";
}
.eap-post-event__location::before {
  content: "\f230";
}
.eap-post-event label::before {
  font: 400 20px/1 dashicons;
  speak: none;
  display: inline-block;
  margin-left: -1px;
  padding-right: 3px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #72777c;
}
