.eap__list {
  display: grid;
  grid-gap: 1.6em;
}
.eap__event {
  padding: 1em;
}
.eap__img img {
  width: 100%;
}
.no-wrap {
    white-space: nowrap;
}
.eap__meta .dashicons {
    vertical-align: middle;
}

/* you can add your styles here */
