.eap__list {
  display: grid;
  grid-gap: 1.6rem;
}
.eap__event {
  padding: 1rem;
}
.eap__category {
  display: block;
  margin-bottom: .4rem;
}
.eap__img img {
  width: 100%;
}
.eap__more {
  margin-bottom: 1.2rem;
}

/* you can add your styles here */
